 html{
    height:auto;
    min-width: 100vw;
   font-family: sans-serif;
  user-select: none;
  overflow-x: hidden;
 scroll-behavior: smooth;
}
#root{
  position: absolute;
  left:0;
  top:0;
  height: 100%;
  width: 100%;
}

.app {
  width: 100%;
  position: absolute;
  left:0;
  height: 100%;
  
}