.main {
    margin: 0;
}

.img-span {
width: 330px;
height: 320px;
border-radius: 15px;
box-shadow:rgba(0, 0, 0, 0.24) 0px 3px 8px ;
}

.main-pic {
object-fit: cover;
height: 100%;
width: 100%;
border-radius: 15px;
cursor: zoom-in;
}

.main {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        text-align: center;
}

.bottom-pics {
    width: auto;
    height:26%;
    position: absolute;
    bottom:0;
    width: auto;
   
}

.pics-container img {
    object-fit: cover;
height: 80px;
width: 70px;
border-radius: 15px;
margin: 0 .5em;
}

.pics-container img:hover {
    border: 2px orange solid;
}

.pics-container{
    display: flex;
    flex-direction: row;

}

.img-popup {
    display: none;
}
.img-active {
display: block;
position: fixed;
bottom:10vh;
left:0vw;
top:10vh;
width: 100vw;
height: 100vh;
z-index: 2;
background-color: black;

}

.img-active-resize{
    object-fit: contain;
}
