nav {
    height:12vh;
    width: 100%;
    border-bottom: 1px grey solid;
    background-color: white !important;
    position: absolute;
    left:0;
    top: 0;
    overflow: hidden;
}
.left-content{
    display: flex;
    flex-direction: row;
    align-items: center;
}


.nav-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    text-align: center;
   
}
.nav-text{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left:20px;
    
}

.nav-text h2:hover{
    color: black;
    border-bottom: 10px solid hsl(26, 100%, 55%) ;
}

.nav-text h2{
    margin: auto .6em;
    font-size: 1.3em;
    font-weight: 300;
    color: grey;
    cursor: pointer;
    line-height: 100px;
}
.logo{
    font-size: 2.4em;
    margin: 0;
    cursor: none;
    font-family:  Helvetica;
    font-weight: 900;

}

.right-icons{
    display: flex;
    align-items: center;
    justify-content: end;
    margin-right: 20px;
}

img{
    cursor: pointer;
}

.right-icons .profile:hover{
    border: 3px orange solid;
    border-radius: 50%;
}
.cart{
    transform: scale(1.5);
    cursor: pointer;
}

.circle-number {
    background-color: rgba(61, 168, 255, 0.993);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    color:white;
    position: absolute;
    top:15px;
    right:90px;
}

.menu-icon{
    display: none;
   
}

@media (min-width:1300px) {
    .nav-text h2 {
        line-height: 90px;
    }
}

@media (max-width: 800px) {
.menu-icon{
    display: block;
    margin: 0 30px;
}
.nav-text{
    display: none;
}

}

@media (max-width:450px ) {
    .logo {
        font-size: 1.5em;
    }
    .menu-icon{
        margin: 0 10px;
    }
    .cart{
        transform: scale(1.1) !important;
    }
    .right-icons{
        margin: 0;
    }

    .profile{
        transform: scale(.8);
    }
}